html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.text-green {
    color:green;
}

.text-header {
    font-size: 2.5rem;
}

.text-title {
    max-width:80%;
}

.none-text-decoration {
    text-decoration: none;
}

a {
    color:green;
}


.bg-card {
    background-color:#DFE63F;
}

.bg-white-transparent {
    background-color:rgba(255, 255, 255, 0.5);
}

.bg-red-transparent {
    background-color: rgba(140, 0, 0, 0.7);
}

.bg {
    /* The image used */
    background-image: url("background2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}